#canvas1 {
    position: 0,0;
    border: 1px solid black;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width:100%;
    height: 100%;
    width: 800px;
    height: 800px
    
    }
    

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas2 {
    position: 0,0;
    border: 1px solid black;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width:100%;
    height: 100%;
    width: 800px;
    height: 800px
    
    }