table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
}
colgroup,
tbody {
  border: solid medium;
}
td {
  border: solid thin;
  height: 1em;
  width: 4em;
  text-align: center;
  padding: 0px;
}
